/*--styling buttons--*/
button.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  text-align: center;
  padding: 1px 5px;
}
/*hoverable buttons--*/
button.btn:hover {
  background-color: black;
  color: white;
}
/*--styling the links--*/
a{
  color: aqua;
  text-decoration: none;
}
/*--hoverable links--*/
a:hover {
  color: green;
  text-decoration: none;
}
/*--carousel button position--*/
#do {
  margin: 40px 40px;
}
/*--hidden links of collapse navbar in small screen--*/
ul.hide{
  display: none;
}
/*--div elements without hover--*/
.carousel-item .carousel-caption, 
.card-img-overlay button, 
.card.border-0 button,
.card-img-overlay .card-title, 
.card-img-overlay .text-muted {
  display: none;
  transition: .5s;
}
/*--transition effects on div elements on hover--*/
.carousel-item:hover .carousel-caption,
.card-img-overlay:hover button, 
.card.border-0:hover button, 
.card-img-overlay:hover .card-title, 
.card-img-overlay:hover .text-muted {
 display: block;
}
/*--transition without hover--*/
.card, .col, .col-sm {
  flex: 1;
  transition: .5s;
}
/*--transition on hover--*/
.card:hover, .col:hover, .col-sm:hover {
  flex: 1 1 5%;
}
/*--text alignment--*/
.container .row .col-12 {
  text-align: center;
}
/*--for mobile phones, text responsive & alignment--*/
@media only screen and (max-width: 570px) {
  h5.card-title, .card-text, .text-muted, h5.display-4 {
    text-align: center;
  }
}
/*--responsiveness for mobiles and tablets--*/
@media only screen and (max-width: 796px) {
  h5.card-title {
 font-size: 2vw;
  }
}
/*--responsive text--*/
 h5.display-4, button.btn {
  font-size: 2vw;
 }
 /*--icon styling--*/
 div.col-3.text-right img, p img, a img {
   width: 37px !important;
 }